.page{
        .undrawImg {
            margin-top: 5rem;
            min-width: 125%;
        }
            
        .text{
            margin-top: 2.5rem;
            color: #FFB606;
            font-family: 'Exo 2', sans-serif;
        }
        @media only screen and (max-width: 1100px) {
            .logo{
                display: none;
            }

        }

    .logo{
        margin-left: 40%;
        width: 100%;
        min-width: 125%;
    }
}