.page{
        .undrawImg {
            margin-top: 5rem;
            min-width: 125%;
        }
            
        .text{
            margin-top: 2.5rem;
            color: #FFB606;
            font-family: 'Exo 2', sans-serif;
        }
        .logo{
            margin-left: 23rem;
            width: 45%;
        }
}